:root{
    --fill-back: #282828;
    --fill-second:#333333;
    --fill-nav: rgba(54, 54, 54, 0,3);
    --yellow: #FFCF27;
    --primery-font: 'Poppins', sans-serif;
    --logo-white: #f2f2f2;
    --most-light:#ffffff;
    --exp: #fafafa;
    --body-bg: #1C1C1C;
    --jobget-blue:#56B0FF;
}
