<section class="container">
    <div class="container--right bg-exp">
        <div class="dis"><h1 class="exp-title">Industry Experience</h1></div>
        <div class="dis">
        <ul class="exp-ul">
            <li class="exp-li"><a href="" class="ex-item">HR Tech</a></li>
            <li class="exp-li"><a href="" class="ex-item">General Aviation</a></li>
            <li class="exp-li"><a href="" class="ex-item">Fulfillment</a></li>
            <li class="exp-li"><a href="" class="ex-item">Healthcare</a></li>
            <li class="exp-li"><a href="" class="ex-item">Investment</a></li>
            <li class="exp-li"><a href="" class="ex-item">Wellness</a></li>
            <li class="exp-li"><a href="" class="ex-item">Uber-like Delivery</a></li>
            <li class="exp-li"><a href="" class="ex-item">Booking</a></li>
            <li class="exp-li"><a href="" class="ex-item">Food & Beverage</a></li>
            <li class="exp-li"><a href="" class="ex-item">Social Media Marketing</a></li>
        </ul>
        </div>
    </div>
</section>