<section>
    <div    class="container">
    <div class="logo__container"><a href="" class="logo">domina<br>creative</a></div>
    <div class="container--right hero__container"><h1 class="hero__title">Bespoke Design Solutions fulfilling the needs of both businesses and users</h1></div>
    <div class="discription__container">
        <div class="dis__box">
            <div class="discription__item">
                <span class="hero__description">Mobile App</span>
                <span class="hero__description">Web Design</span>
                <span class="hero__description">Web App design</span>
            </div>
            <div class="discription__item">
                <span class="hero__description">SaaS product design</span>
                <span class="hero__description">Social Media Strategy</span>
            </div>
            <div class="discription__item">
                <span class="hero__description">Animation</span>
                <span class="hero__description">Interaction Design</span>
                <span class="hero__description">Branding</span>
            </div>
    </div>
    </div>
</div>

</section>