<section class="container">
    <h1 class="work-title">Selected Works</h1>
    <div>
        <div class="block-text">
            <ul>
                <li><h5 class="name-project">JobGet</h5></li>
                <li><h2 class="desc-work">Award winning <br> recruitment app</h2></li>
                <li class="content">JobGet is a strong and well established brand although still in startup phase. Late November 2019 JobGet were granted a $250,000 prize during MIT Inclusive Innovation Challenge. They were recognised as an innovative mobile platform that matches low-income job seekers with employers</li>
                <li>
                    <a href="" class="view">
                        View Case
                    </a>
                </li>
            </ul>
        </div>
        <div></div>
    </div>
</section>