.ex-item{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.36;
    color: var(--exp);
}
.exp-ul{

}
.exp-li{
    &:not(:last-child){
        margin-bottom: 45px;
    }
}
.exp-title{
    position: absolute;
font-weight: 700;
font-size: 50px;
line-height: 68px;
color: var(--yellow);
transform: rotate(-90deg);

}
.bg-exp{
    background-color: var(--fill-back);
}
.dis{
    
padding-left: 56px;
padding-top: 120px;
padding-bottom: 116px;
}
