.ex-item{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.36;
    color: var(--exp);
}
.exp-ul{
    margin-top: 120px;
    margin-bottom: 116px;
    margin-left: 80px;
}
.exp-li{
    &:not(:last-child){
        margin-bottom: 45px;
    }
}
.exp-title{
    position: relative;
    font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 68px;
color: var(--yellow);
transform: rotate(-90deg);
margin-left: 56px;

}
.bg-exp{
    background-color: var(--fill-back);
}
.dis{

}
