.work-title{
    margin-top: 182px;
    margin-left: 224px;
    font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 82px;
color: var(--yellow);
}
.content{
    max-width: 307px;

    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 19px;
color: var(--exp);
margin-bottom: 26px;
}
.block-text{
    margin-left: 224px;
    margin-top: 211px;
    margin-bottom: 140px;
}
.name-project{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    color: var(--jobget-blue);
    margin-bottom: 13px;
}
.desc-work{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 49px;
color: var(--exp);
margin-bottom: 26px;
}
.view{
    position: relative;
    font-weight: 700;
font-size: 16px;
line-height: 22px;
color:var(--exp);
}
.view::after{
    position: absolute;
    display: block;
    bottom: -7px;
    left: 0;
    content: '';
    width: 100%;
    height: 5px;
    background-color:var(--exp);
    transition: .5s;
    transform: scale(0);
    transform-origin: left;
}
.view:hover:after{
    transform: scale(1);
}

